<!DOCTYPE html>
<html lang="ar" dir="rtl">
<head>
    <meta charset="UTF-8">
    <title>STEM FOR EVERYONE</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #b92d57;
            text-align: center;
            padding: 50px;
        }
        .card {
            background: white;
            padding: 30px;
            border-radius: 10px;
            box-shadow: 0 4px 8px rgba(0,0,0,0.1);
            display: inline-block;
        }
        h1 { color: #007bff; }
        p { color: #333; font-size: 18px; }
    </style>
</head>
<body>

    <div class="card">
        <h1> Hello nerds, 👋</h1>
        <p>  This website was built and designed using Flask and HTML.</p>
        <p>Now, are you ready for fun? </p>
   <br><br>
<a href="/about" style="color: #007bff; text-decoration: none; font-weight: bold;">Know more from here 👈</a>
<br><br>
<a href="/goal" style="color: #28a745; text-decoration: none; font-weight: bold; margin: 0 10px;">Our Goal 🎯</a>
<br><br>
<a href="/resources" style="color: #007bff; text-decoration: none; font-weight: bold; margin: 0 10px;">Study Resources 📚</a>
   
    </div>


</body>
</html>